recursive-exclude build *
recursive-exclude dist *
exclude *.sh
exclude *.csv
exclude *.prof
exclude *.log
exclude *.log.*
exclude *.pdf
exclude *.iml
exclude *.xlsx
exclude _*.py
include LICENSE
include NOTICE
include README.md
